
/*=============================================
=            scroll top            =
=============================================*/

a.scroll-top {
    background: $apple-green;
    width: 42px;
    height: 42px; 
    line-height: 42px; 
    display: none;
    text-align: center;
    color: $white;
    font-family: 'Ionicons';
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 999;
    border-radius: 50%;

    &:after {
      content: "\f3d8"; 
      display: inline;
      font-size: 14px;
    }

  }


  
  /*=============================================
  =            page wrapper light green style            =
  =============================================*/
  
  .page-wrapper-light-green{

    a.scroll-top {
      background: $apple-green-light;
    }
    
  }
  
  /*=====  End of page wrapper light green style  ======*/
  
  /*=============================================
  =            page wrapper blue style            =
  =============================================*/
  
  .page-wrapper-blue{

    a.scroll-top {
      background: $cerulean-blue;
    }

  }
  
  /*=====  End of page wrapper light green style  ======*/
  
  /*=============================================
  =            page wrapper red style            =
  =============================================*/
  
  .page-wrapper-red{

    a.scroll-top {
      background: $pomegranate-red;
    }

  }
  
  /*=====  End of page wrapper light red style  ======*/
  
  


/*=====  End of scroll top  ======*/

